[gene-expression]
reference,/share/data/RNA_Seq/reference_genomes/10X_genomics/human/refdata-cellranger-GRCh38-3.0.0/
cmo-set,/share/data/RNA_Seq/MECFS_scRNAseq/Working/April19_2022/CMO_reference.csv

[libraries]
fastq_id,fastqs,feature_types
MMC-79-89-93-A_GEX,/share/data/RNA_Seq/MECFS_scRNAseq/Working/April19_2022,Gene Expression
MMC-79-89-93-A_Ab,/share/data/RNA_Seq/MECFS_scRNAseq/Working/April19_2022,Multiplexing Capture #created in step1 

[samples]
sample_id,cmo_ids
MMC-0079,HTO1
MMC-0089,HTO2
MMC-0093,HTO3
